#Add_a_new_txt{
	margin-top:20px;
	font-family:arial;
	font-size:3vh;
	font-weight:600;
	text-align:center;
	color:#7e2500;
}

.delivery_address_txt{
	font-size:1.6vh;
	font-family:arial;
	text-align:center;
	color:#7e2500;
}

#input_width{
	position:relative;
	width:100%;
	border:1px solid #black;
	outline:none;

}
.delivery_name{
	position:relative;
	font-family:arial;
	margin-top:10px;
}
.Additional_txt{
	margin-top:20px;
	font-family:arial;
	font-weight:600;
}

